<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://www.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/germanyLow.js">
    </script>
    <script src="//www.amcharts.com/lib/4/themes/animated.js"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Precarga.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/mdb.css">*@

    <script>
        function inicio() {
            alert("pasa");
            $('.datatables').DataTable();
        }

        function todo(objeto) {
            var celdas = $('#example').dataTable().api().cells().nodes();

            $(celdas).find(':checkbox').prop('checked', objeto.checked);
        }

        function enviar_form() {
            return false;
        }
    </script>
</head>
<body>
    <div>
        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div>
                    <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="menu-item dropdown btn-primary">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posgrado<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Cuotas", "CuotasPosgrado", "SIAE")</li>
                                        <li>@Html.ActionLink("Pagos", "PagosPosgrado", "SIAE")</li>
                                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>*@




    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/angular.min.js"></script>*@
    <script src="~/Scripts/global.js"></script>
    <script src="~/Scripts/checklist-model.js"></script>
    @*<script src="~/Scripts/angular.js"></script>*@
    <script src="~/Scripts/angular.ng-modules.js"></script>
    <script src="~/Scripts/Models/PlantillaModel.js"></script>
    <script src="~/Scripts/Controllers/PlantillaController.js"></script>
    <script src="~/Scripts/application.js"></script>
    <link href="~/Scripts/select2/css/select2.min.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.min.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@

    @*@RenderPage("~/Views/Shared/_Footer.cshtml")*@
</body>
</html>
